# Config for GNU GRand Unified Bootloader (GRUB)

insmod font
if loadfont unicode ; then
  if keystatus --shift ; then true ; else
    if [ x"${grub_platform}" = xefi ]; then
      insmod efi_gop
      insmod efi_uga
      insmod videotest
      insmod videoinfo
    else
      insmod vbe
      insmod vga
    fi
    insmod gfxterm
    insmod gfxmenu
    set gfxmode=auto
    set gfxpayload=auto
    terminal_output gfxterm
    if terminal_output gfxterm ; then true ; else
      terminal gfxterm
    fi
  fi
fi

# Theme
insmod jpeg
insmod png
set theme=$prefix/themes/Vimix/theme.txt

# Submenu theme
subtheme=$prefix/themes/Vimix/theme.txt
export subtheme

# Timeout for menu
set timeout=30

# Load custom GRUB configuration
if [ -e "$prefix/local.cfg" ]; then
  source "$prefix/local.cfg"
fi

# Load MBUSB configuration
if [ -e "$prefix/mbusb.cfg" ]; then
  source "$prefix/mbusb.cfg"
fi







